<li id="log-<%= log.id %>">
  <span class="duration"><%= log.duration %></span>
  <span class="project"><%= log.project.name %></span>
  <span class="remarks"><%= log.remarks %></span>
  <span class="startdate"><%= log.startdate %></span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(log.created_at) %> ago.
  </span>
</li>