<p id="notice"><%= notice %></p>

<h1>Logs</h1>

<%= link_to 'Create New Log', new_log_path %>
<div>
<%= form_tag(logs_path, method: :get) do %>
Select date: 
  <%= date_select :sdate, {}%>
  -

  <%= submit_tag 'Filter' %>
  <%= link_to 'Reset', '#' %>
<% end %>
</div>

<table>
  <thead>
    <tr>
      <th>Duration</th>
      <th>Project</th>
      <th>Remarks</th>
      <th>Date</th>
      <th>Actions</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @logs.each do |log| %>
      <tr>
        <td><%= log.duration %>h</td>
        <td><%= log.project.name %></td>
        <td><%= log.remarks %></td>
        <td><%= log.startdate %></td>
        <td><%= link_to 'Show', log %></td>
        <td><%= link_to 'Edit', edit_log_path(log) %></td>
        <td><%= link_to 'Destroy', log, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

