<p id="notice"><%= notice %></p>

<p>
  <strong>Duration:</strong>
  <%= @log.duration %>hr
</p>

<p>
  <strong>Project:</strong>
  <%= @log.project.name %>
</p>

<p>
  <strong>Remarks:</strong>
  <%= @log.remarks %>
</p>

<p>
  <strong>Date:</strong>
  <%= @log.date.strftime("%b %d, %Y") %>
</p>

<%= link_to 'Edit', edit_log_path(@log) %> |
<%= link_to 'Back', logs_path %>
