<p id="notice"><%= notice %></p>

<p>
  <strong>Duration:</strong>
  <%= @log.duration %>
</p>

<p>
  <strong>Project:</strong>
  <%= @log.project.name %>
</p>

<p>
  <strong>Remarks:</strong>
  <%= @log.remarks %>
</p>

<p>
  <strong>Start Date:</strong>
  <%= @log.startdate %>
</p>

<p>
  <strong>End Date:</strong>
  <%= @log.enddate %>
</p>

<%= link_to 'Edit', edit_log_path(@log) %> |
<%= link_to 'Back', logs_path %>
